.ios .scan-view
{
	.background
	{
		height: 100vh;
	}
}
.scan-view {
	color: white;
	text-align: center;

	&.rtl {
		.bar-buttons {
			text-align: right;
			.icon[name="arrow-back"] {
	            transform: rotate(180deg)
	        }
		}
	}

	.bar-buttons {
		text-align: left;
		.button {
			color: white;
		}
	}

	.background {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    z-index: -1;
	    height: 100%;
	}

	.logo {
		position: absolute;
	    top: 60px;
	    left: 50%;
	    transform: translateX(-50%);
	}

	.footer {
		position: absolute;
	    bottom: 70px;
	    width: 100%;

	    h3 {
		margin-bottom: 20px;
	    }

		button {
			width: 120px;
			background: color($colors,primary);
			font-size: 22px;
			height: 50px;
	    	color: white;
		}

		.spinner {
	  		margin: 0;
		  	svg circle {
			  stroke: white;
			  fill: white;
			}
		}
	}
}

