<ion-content class="scan-view {{dirByLang}}">
	<ion-buttons start *ngIf="isShowBack">
      <button ion-button icon-only clear (click)="leavePage()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
	<!--<object data="assets/img/start_bg.svg" class="background" type="image/svg+xml"></object>-->
	<!--<object data="assets/img/brand.svg" class="logo" type="image/svg+xml"></object>-->
	<img src="assets/img/start_bg.png" class="background"/>
	<img src='assets/img/start_logo.png' class="logo"/>
 	<div class="footer">
 		<div *ngIf="showScan">
			<h3>{{scanInstructions}}</h3>
			<button ion-button (click)="scan()">{{scanButton}}</button>
		</div>
		<div *ngIf="showLoading">
			<h3>{{preparingApp}}</h3>
        	<ion-spinner name="dots"></ion-spinner>
		</div>
	</div>
</ion-content>