<ion-content class="scan-view {{dirByLang}}">
	<div class="header">
		<img src="assets/img/brand.png"/>
		<h1>{{header}}</h1>
		<h2>{{header2}}</h2>
	</div>
	<div class="image-container">
  		<img src="assets/img/man.png"/>
  	</div>
 	<div class="footer">
 		<div *ngIf="showScan">
			<h3>{{scanInstructions}}</h3>
			<button (click)="scan()">{{scanButton}}</button>
		</div>
		<div *ngIf="showLoading">
			<h3>{{preparingApp}}</h3>
        	<ion-spinner name="dots"></ion-spinner>
		</div>
	</div>
</ion-content>