<ion-header  dir="{{strings.dirByLang}}" >
  <ion-navbar hideBackButton="true">
    <ion-title>
    </ion-title>
     <ion-buttons start *ngIf="isShowBack">
      <button ion-button icon-only (click)="leavePage()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
 </ion-header>
<ion-content>

  <div class="login-content" *ngIf="!isChangePassword()">
    <ion-list (keypress)="eventHandler($event)" dir="{{strings.dirByLang}}">
      <ion-list-header *ngIf="!isShowApp">
        {{ strings.loginHeader }}
      </ion-list-header>
      <ion-list-header *ngIf="isShowApp">
        {{ appName }}
      </ion-list-header>

      <ion-item [style.direction]="strings.dirByLang">
        <ion-label floating>{{strings.usrTitle}}</ion-label>
        <ion-input type="text" [(ngModel)]="usrValue"></ion-input>
      </ion-item>

      <ion-item [style.direction]="strings.dirByLang">
        <ion-label floating>{{ strings.pswTitle }}</ion-label>
        <ion-input type="password" [(ngModel)]="pswValue"></ion-input>
      </ion-item>

    </ion-list>

    <ion-buttons>
      <button ion-button outline (click)="login()">
      {{ strings.loginBtn }}
      </button>
    </ion-buttons>
  </div>

  <!-- Change Password tamplate-->
  <div class="login-content" *ngIf="isChangePassword()">
    <ion-list (keypress)="eventHandler($event)" dir="{{strings.dirByLang}}">
      <ion-list-header class="change-psw">
        {{ strings.changePswHeader1 }} <br> {{strings.changePswHeader2}}
      </ion-list-header>

      <ion-item [style.direction]="strings.dirByLang">
        <ion-label floating>{{ strings.oldPsw }}</ion-label>
        <ion-input type="password" [(ngModel)]="oldPswValue"></ion-input>
      </ion-item>

      <ion-item [style.direction]="strings.dirByLang">
        <ion-label floating>{{ strings.newPsw }}</ion-label>
        <ion-input type="password" [(ngModel)]="newPswValue"></ion-input>
      </ion-item>

      <ion-item [style.direction]="strings.dirByLang">
        <ion-label floating>{{ strings.confirmNewPsw }}</ion-label>
        <ion-input type="password" [(ngModel)]="confirmPswValue"></ion-input>
      </ion-item>

    </ion-list>

    <ion-buttons>
      <button ion-button outline (click)="changePsw()">
      {{ strings.changePswBtn }}
      </button>
    </ion-buttons>
  </div>
</ion-content>