login-page{

  .toolbar-md, .toolbar-ios {
    min-height: 180px !important;
    .toolbar-background {
        background-color: rgba(31,155,209,0.99);
        background: -webkit-linear-gradient(-45deg, rgba(31,155,209,0.99) 0%, rgba(31,155,209,1) 0%, rgba(31,155,209,1) 46%, rgba(24,120,158,1) 100%);
    }

    img {
        height: 45px;
    }

    .bar-buttons {
        align-self: flex-start;
    }
  }
  .toolbar-content
        {
            height: 100%;
            position: absolute;
            width: 100%;
            background-repeat: no-repeat;
            background-position: 50%;
            &.toolbar-content
            {
              background-image: url('../assets/img/brand_white.svg');
            }
            //  &.toolbar-content-ios
            // {
            //   background-image: url('../assets/img/brand.png');
            // }
          
        }

  .login-content {
    margin: auto;
    width:  70%;
   
    ion-list-header {

      margin-top: 13px;
      border-top: none;
      .item-inner {
        border-bottom: none;
      }

      ion-label {
        font-size: 2.4rem;
        text-align:  center;
        white-space: normal;
      }
       
    }

    .change-psw {
        
        ion-label {
          text-align: start;
          font-size: 1.6rem;
        }
         
        
    }

    .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):last-child,.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
      border-bottom-color: #dedede;
      box-shadow: none;
    }

    .item-block {
      padding:0;
      border-top: none;
    }

    ion-buttons {
      margin-top: 25px;
      text-align: center;

      .button[outline] {
        width: 150px;
        margin-top: 25px;
      }
    }

    .label-md {
      margin: 13px 0 0 0;
    }

    

    [dir="rtl"] {
      .label-md[floating] {
        -webkit-transform-origin: right top;
        transform-origin: right top;
      }
      .item-label-floating .text-input-md, .label-md[floating]{
        // margin-right: 3px;
      }
      .list-header-md {
        padding-right: 0;
      }
    }
  }
  .forgot-password
  {
    text-align: center;
    width: 100%;
    position: absolute;
  }
}