<ion-nav [root]="rootPage" #content></ion-nav>
<ion-menu [content]="content"
            side="right"
            *ngIf="strings.sideByLang==='right'"
            dir="{{strings.dirByLang}}">
    <ion-header dir="{{strings.dirByLang}}"  mode="md">
        <ion-toolbar color="dark"  mode="md">
            <ion-title  mode="md"> {{getAppName()}} </ion-title>
            <ion-title  mode="md" class="user-name"> {{getUserName()}} </ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <ion-item (click)="switchApp()" dir="{{strings.dirByLang}}" menuClose>
                <ion-label>
                    <button ion-button clear>
                       <ion-icon name="apps"></ion-icon>
                       <ion-label>{{strings.switchApp}}</ion-label>
                </button>
                </ion-label>
            </ion-item>
            <ion-item (click)="OpenDocument(strings.termsURL)" dir="{{strings.dirByLang}}" menuClose>
                <ion-label>
                    <button ion-button clear>
                        <ion-icon name="body"></ion-icon>
				        <ion-label>{{strings.terms}}</ion-label>
			        </button>
                </ion-label>
            </ion-item>
            <ion-item (click)="OpenDocument(strings.policyURL)" dir="{{strings.dirByLang}}" menuClose>
                <ion-label>
                    <button ion-button clear>
                        <ion-icon name="hand"></ion-icon>
				        <ion-label>{{strings.policy}}</ion-label>
			        </button>
                </ion-label>
            </ion-item>
            <ion-item (click)="logout()" dir="{{strings.dirByLang}}" menuClose>
                <ion-label>
                    <button ion-button clear>
                       <ion-icon name="log-out"></ion-icon>
                       <ion-label>{{strings.logout}}</ion-label>
                </button>
                </ion-label>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-menu>
<ion-menu [content]="content"
            side="left"
            *ngIf="strings.sideByLang==='left'"
            dir="{{strings.dirByLang}}">
    <ion-header dir="{{strings.dirByLang}}">
        <ion-toolbar color="dark">
            <ion-title> {{getAppName()}} </ion-title>
            <ion-title class="user-name"> {{getUserName()}} </ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <ion-item (click)="switchApp()" dir="{{strings.dirByLang}}" menuClose>
                <ion-label>
                    <button ion-button clear>
                       <ion-icon name="apps"></ion-icon>
                       <ion-label>{{strings.switchApp}}</ion-label>
                </button>
                </ion-label>
            </ion-item>
            <ion-item (click)="OpenDocument(strings.termsURL)" dir="{{strings.dirByLang}}" menuClose>
                <ion-label>
                    <button ion-button clear>
                        <ion-icon name="body"></ion-icon>
				        <ion-label>{{strings.terms}}</ion-label>
			        </button>
                </ion-label>
            </ion-item>
            <ion-item (click)="OpenDocument(strings.policyURL)" dir="{{strings.dirByLang}}" menuClose>
                <ion-label>
                    <button ion-button clear>
                        <ion-icon name="hand"></ion-icon>
				        <ion-label>{{strings.policy}}</ion-label>
			        </button>
                </ion-label>
            </ion-item>
            <ion-item (click)="logout()" dir="{{strings.dirByLang}}" menuClose>
                <ion-label>
                    <button ion-button clear>
                       <ion-icon name="log-out"></ion-icon>
                       <ion-label>{{strings.logout}}</ion-label>
                </button>
                </ion-label>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-menu>