// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

//<ion-list [attr.no-lines]="isMD ? '' : null">

$ionicons-font-path: "../assets/fonts";
@import "ionicons";
@import '../icons/ionicons';

// @import "../pages/Login/login.style";
// @import "../pages/Main/main.style";
// @import "../pages/Details/details.style";
// @import "../pages/Start/start.style";
// @import "../pages/Search/search.style";
// @import "../pages/List/list.style";

ion-header,.header-ios,.header-md {
    &[dir="ltr"] {
        .bar-buttons[start] {
            order: 1;
        }
    }
    &[dir="rtl"] {
        .bar-buttons[start] {
            order: 1;
        }
        .icon[name="arrow-back"],.icon[name="log-out"] {
            transform: rotate(180deg)
        }
        .bar-button-default.text-only {
            //background-color: rgba(255, 255, 255, 0.18);
            background-color: rgba(0, 0, 0, 0.07);
            font-size: 16px;
        }
    }

    &:after {
        display: none;
    }
    
    ion-navbar {
        position: relative;
        box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.14), 0 0px 1px 1px rgba(0, 0, 0, 0.2);
        .toolbar-background {
            background: color($colors,primary);
        }
        .toolbar-background-ios {
            border-color: rgba(0, 0, 0, 0.12);
        }
        .toolbar-content {
            text-align: center;
        }
        .icon {
            color: white;
        }
        .toolbar-title {
            color: white;
        }
        img {
            vertical-align: middle;
        }
        .bar-button-default {
          color: white;
        }
    }
}

ion-menu {
    &[dir="rtl"] {
        .menu-inner {
            right: 0;
            left: auto;
        }
    }
    ion-item[dir="rtl"] {
        padding-right: 16px;
        padding-left: 0;

        ion-label {
            margin: 13px 0 13px 8px;
        }

        .button ion-icon {
            padding-left: 16px;
            padding-right: 0;
        }
    }

    ion-item {
        .button-md, .button-ios {
            padding: 0;

            .button {
                text-transform: none;
            }
        
            ion-label {
                margin: 13px 0 13px 0;
                font-size: 1.6rem;
                color: color($colors,dark);
            }

            ion-icon {
                padding-right: 16px;
            }

            .icon-md {
                font-size: 1.8rem;
            }

            .icon-ios {
                font-size: 2.4rem;
            }
        }
    }
}

file-uploader {
    display: none;
}
.spinner {
  width: 35px;
  height: 35px;
  margin: 0 4px;
}
body{
    margin:0 !important;
}
.rtl
{
    direction: rtl;
}
.ltr
{
    direction: ltr;
}
.center {
    text-align: center;
}
.rtl .alert-head
{
  text-align: right !important;
}
.alert-ios.rtl .alert-button {
  border-left: 0.55px solid #dbdbdf;
  border-right: none;
}

.action-sheet-icon {
    .rtl & {
        margin: 0 0 0 32px;
    }
}
.ng-valid:not(.input-has-focus),.ng-invalid:not(.input-has-focus) {
    &.item-input {
        border-bottom-color: #dedede !important;
        box-shadow: none !important;
    }
    .item-inner {
        border-bottom-color: #dedede !important;
        box-shadow: none !important;
    }
}
.item-input.input-has-focus:last-child {
  border-bottom-color: #dedede !important;
  box-shadow: none !important;
}
.item-input.item-md {
    .item-inner {
        margin-left: -1px;
        margin-right: -1px;
    }
}
ion-searchbar
{
    position: relative;
}

.hide 
{ 
    display:none; 
}

ion-list > ion-item:last-child
{
    border-top:initial;
}

/*TODO: move this css to package to main css file*/
.transparentBlock  .loading-wrapper {
   background-color: transparent !important;
   box-shadow: none !important;
}

.transparentBlock ion-backdrop {
   opacity: 0 !important;
     
}
.popover-md .popover-content {
    width: auto;
}
/***************************************************/

ion-label {
    margin: 13px 0px 13px 0;
}

.tabbar
{
    bottom: 60px !important;
}

ion-list ion-item ion-row ion-col
{
    overflow: hidden;
    text-overflow: ellipsis;
}