#searchGrid
{
	&[dir="rtl"] {
		.item {
			padding-right: 16px;
			padding-left: 0;
		}
		.item-inner {
			padding-right: 0;
		}
	}
	div
	{
		font-size: inherit;
	}
}

.search-spinner
{
	    margin-top: -10px;
}