page-details {
  item-input .list-md,.list.list-ios {
    margin-top: 16px;
  }

  .waiting-spinner {
      width: 80%;
      text-align: center; 
      position: fixed;
      top: 57px;
      z-index: 2;
      margin: 0 9%;
  }
}