details-page 
{
  item-input .list-md,.list.list-ios 
  {
    margin-top: 16px;
  }

  .more-button
  {
    display: inline-block;
    margin: 0 -5px;
  }
  ion-content div
  {
    font-size: inherit !important;
  }
}