details-page 
{
  item-input .list-md,.list.list-ios 
  {
    margin-top: 16px;
  }

  .more-button
  {
    display: inline-block;
    margin: 0 -5px;
  }
  ion-content div
  {
    font-size: inherit !important;
  }

  .title-ios
  {
    padding: 0;
    position: relative;
  }

  ion-title:not([style*="text-align: center"])
  {
    .toolbar-title-ios
    {
      text-align: start;
      -webkit-padding-start: 12px;
    }
  }

  .bar-button-ios {
    width: 30px;
  }
}