<ion-header dir="{{dirByLang}}">
  <ion-navbar hideBackButton="true">
    <ion-title>{{form.title}}</ion-title>
    <ion-buttons start>
      <button ion-button icon-only (click)="leavePage()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
       <button ion-button  (click)="saveRow()">
          <img src="assets/img/save.png"/>
      </button>
      <button ion-button icon-only *ngIf="!selectedItem.isNewRow" (click)="deleteRow()">
         <img src="assets/img/delete.png"/>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <div class="waiting-spinner" *ngIf="isShowWaitingDots" >
     <ion-spinner name="dots"></ion-spinner>
  </div>

  <!-- Inputs -->
  <item-input-opts
    [Form]="form"
    [Item]="selectedItem"
    [ColumnsOptions]="formConfig.detailsColumnsOptions"
    (columnClick)="columnClicked($event)">
  </item-input-opts>

  <!--Subforms -->
  <sub-list
      dir="{{dirByLang}}"
      *ngFor="let subform of subforms | Sort:sortSubforms"
      [Subform]="subform"
      [ParentForm]="form"
      (expandList)="expandSubformList($event)"
      (goToSubform)="goToSubform($event)">  
  </sub-list>

</ion-content>

